[Desktop Entry]
Encoding=UTF-8
Name=Identifi
Comment=Identifi P2P Cryptocurrency
Comment[fr]=Identifi, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Identifi, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/identifi-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/identifi80.xpm
MimeType=x-scheme-handler/identifi;
Categories=Office;
