#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_identifi
#build/identifid::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_identifi)

DEB_INSTALL_EXAMPLES_identifid += debian/examples/*
DEB_INSTALL_MANPAGES_identifid += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix identifid
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f identifi-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake identifi-qt.pro USE_QRCODE=1

override_dh_auto_test:
	cd src; $(MAKE) -f makefile.unix test_identifi
	src/test_identifi

# Ensure wrapper is set executable
binary-post-install/identifid:
	chmod +x $(cdbs_curdestdir)usr/bin/identifid
binary-post-install/identifi-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/identifi-qt
